<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kidoneself.question.mapper.QuestionMapper">
    <select id="getQuestionList" resultType="com.kidoneself.question.modle.entity.Question">
        SELECT *, 100 / #{limit} as sorce
        FROM questions
        WHERE month_num = 1
          and id >=
              ((SELECT MAX(id) FROM questions WHERE month_num = 1) -
               (SELECT MIN(id) FROM questions WHERE month_num = 1)) *
              RAND() + (SELECT MIN(id) FROM questions WHERE month_num = 1)
            limit #{limit};
    </select>
</mapper>